.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg{
  background: url("https://media.istockphoto.com/id/1220573371/photo/minimal-work-space-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop.jpg?b=1&s=170667a&w=0&k=20&c=NGtijvlm0p-Qo0T772lzfLeshnbKNcZ6B0oGdgH8QGA=");
  background-size: cover;
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}